body, html{
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

button{
  padding: 15px;
  margin: 5px;
  font-size: 16px;
  color: white;
  background-color: dodgerblue;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  vertical-align: text-bottom;
}

button:active{
  background-color: gold !important;
}

input{
  width: auto;
}

#message, .cadre{
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 2.7rem;
}

#message{
  margin-top: 7%;
  margin: 2.7rem;
  padding: 3rem;
}

.msgbrd{
  border: solid 4px white;
  color: white;
}

.msgblk{
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: 4;
}

.cadre{
  position: absolute;
  bottom: 10%;
  width: 100%;
}

#bar{
  border: solid 4px gray;
  padding: 0;
  width: 75%;
  margin: 3rem;
  font-size: 2.7rem;
  color: black;
}

@keyframes blink {
  0%   {border: solid 4px red; color: red; }
  50%  {border: solid 4px red; color: red; }
  50.1%  {border: solid 4px white; color: white; }
  100% {border: solid 4px white; color: white; }
}
